.play-button {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--Blue-1, #007aff);
  border: none;
  transition: all 0.3s ease;
}

.play-button:hover {
  filter: brightness(0.85);
}
