.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  padding: 16px;
  background: var(--Blue-2, #002139);
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.3s;
}

.card.selected {
  border: 2px solid var(--Foreground); /* Highlight border colour */
}
