.prediction-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.prediction-list .header {
  color: var(--Foreground, #c9e8ff);
  font-family: Aeonik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
