.prediction-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  width: 100%;
}

.prediction-list .prediction-list-header {
  font-size: 24px;
  font-family: Aeonik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Foreground, #c9e8ff);
  height: 36px;
}

.prediction-list .loading {
  font-size: 16px;
  font-family: Aeonik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Foreground, #c9e8ff);
  height: 36px;
  
  display: flex;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  gap: 4px;
}

l-dot-stream {
  padding-top: 4px;
}
