.button-40 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  box-sizing: border-box;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--Blue-1);
  border: 0;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease; /* Smooth transition for hover effect */
  border: 2px solid transparent;
}

.button-40:hover {
  filter: brightness(0.85);
}

.button-40:active {
  background-color: var(--Background);
  border: 2px solid var(--Blue-1);
}
/* 
.button-40 .button-40-icon {
  position: relative !important;
  width: 16px !important;
  height: 16px !important;
} */
