.horizontal-seperator {
  width: 100%;
  height: 0; /* Set height to 0 */
  border-top: 2px solid var(--Foreground); /* Border instead of background for a clearer line */
  border-radius: 1px;
  opacity: 0.2;
  margin: 0;
}
