.select-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  height: 40px;
  padding: 0px 12px;
  transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease;
  background-color: var(--foreground);
  border: 2px solid transparent;
  border-radius: 8px;
  min-width: 90px;
  max-width: 90px;
}

.select-button:hover {
  filter: brightness(0.85);
}

.select-button.clicked {
  background-color: var(--background);
  border: 2px solid var(--foreground);
}

.select-button .text-wrapper {
  position: relative;
  width: fit-content;
  font-size: 12px;
  font-family: "Aeonik-Medium", Helvetica;
  font-weight: 500;
  line-height: normal;
  color: var(--background);
  letter-spacing: 0;
  white-space: nowrap;
}

.select-button.clicked .text-wrapper {
  color: var(--foreground);
}
