/* @font-face rules for Aeonik font family */
@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik-RegularItalic.woff2") format("woff2");
  font-weight: 400; /* Regular Italic */
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik-MediumItalic.woff2") format("woff2");
  font-weight: 500; /* Medium Italic */
  font-style: italic;
}

@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik-BoldItalic.woff2") format("woff2");
  font-weight: 700; /* Bold Italic */
  font-style: italic;
}
