:root {
  --background: rgba(0, 23, 31, 1);
  --Background: rgba(0, 23, 31, 1);
  --blue-1: rgba(0, 122, 255, 1);
  --Blue-1: rgba(0, 122, 255, 1);
  --blue-2: rgba(0, 33, 57, 1);
  --Blue-2: rgba(0, 33, 57, 1);
  --blue-grey: rgba(98, 120, 136, 1);
  --Blue-grey: rgba(98, 120, 136, 1);
  --blue-white: rgba(241, 249, 255, 1);
  --Blue-white: rgba(241, 249, 255, 1);
  --foreground: rgba(201, 232, 255, 1);
  --Foreground: rgba(201, 232, 255, 1);
  --green: rgba(6, 214, 160, 1);
  --Green: rgba(6, 214, 160, 1);
  --red: rgba(239, 71, 111, 1);
  --Red: rgba(239, 71, 111, 1);
  --yellow: rgba(255, 209, 102, 1);
  --Yellow: rgba(255, 209, 102, 1);
}
