.video-mode {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  padding: 24px;
  background: var(--Blue-2, #002139);
  border-radius: 24px;
  max-height: 100%;
}

.video-present {
  max-height: calc(100% - 120px);
}

.video-mode > * {
  flex: 1; /* Each child takes up 50% of the available space */
}
