.timeline-entry {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  height: fit-content;
  max-width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

.timeline-entry.hover-dimmed {
  opacity: 0.3;
}

.timeline-entry.playback-dimmed {
  opacity: 0.7;
}

.timeline-entry .message {
  color: var(--Foreground, #c9e8ff);
  font-family: Aeonik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
