.file-directory {
    align-items: center;
    background-color: var(--blue-2);
    border-radius: 8px;
    display: flex;
    gap: 8px;
    height: 40px;
    padding: 0px 12px;
    position: relative;
}

.file-directory .text-wrapper {
    color: var(--foreground);
    font-family: "Aeonik-Medium";
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content
}

.file-directory .div {
    color: var(--blue-grey);
    font-family: "Aeonik-Regular";
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
