.frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 18px;
    position: relative;
}

.frame .labassist-frame {
    height: 40px;
    position: relative;
    width: 155px;
}

.frame .AI-powered-titration {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    height: 40px;
    justify-content: center;
    position: relative;
}

.frame .div {
    color: var(--blue-1);
    font-family: "Aeonik-Regular";
    font-size: 16px;
    /* font-weight: 400; */
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame .text-wrapper {
    font-weight: 500;
}

.frame .span {
    font-family: "Aeonik-Bold";
    /* font-weight: 700; */
}
