.logo {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: relative;
}

.logo .labassist-logo {
  position: relative;
  width: 155px;
  height: 40px;
}

.logo .AI-powered-titration {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  position: relative;
  height: 40px;
}

.logo .div {
  position: relative;
  width: fit-content;
  font-size: 16px;
  font-family: "Aeonik-Medium", Helvetica;
  font-weight: 400;
  line-height: normal;
  color: var(--Blue-1);
  letter-spacing: 0;
  white-space: nowrap;
}

.logo .description {
  font-weight: 500;
}

.logo .span {
  font-family: "Aeonik-Bold", Helvetica;
  font-weight: 700;
}
