.logo {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: relative;
  width: 100%; /* Ensure the logo container takes up full width */
  max-height: 40px;
}

.logo .labassist-logo {
  position: relative;
  width: 155px;
  height: 40px;
}

.logo .ai-powered-titration {
  display: inline-flex; /* Keep the inline-flex for inline text behaviour */
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  max-height: 40px;
  max-width: 100%;
  flex-wrap: wrap; /* Allow wrapping of text inside this container */
}

.logo .ai-powered-titration .ai-powered-titration-text {
  color: var(--Blue-1, #007aff);
  font-family: Aeonik;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word; /* Allow words to break and wrap */
  white-space: normal; /* Allow text to wrap */
  max-width: 100%;
  max-height: 100%;
}
