.tag {
  display: flex;
  height: 16px;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: fit-content;
  border-radius: 4px;
  background: var(--Blue-1);
}

.tag .tag-text {
  color: var(--Blue-2);
  font-family: Aeonik;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8;
}
