.button-40 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  height: 40px;
  padding: 0px 12px;
  background-color: var(--blue-1);
  border: 0;
  border-radius: 8px;
}

.button-40 .vuesax-bold-video {
  position: relative !important;
  width: 16px !important;
  height: 16px !important;
}
