.annotation-bar {
  display: flex;
  height: 8px;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 100%;
  border-radius: 4px;
  background: var(--Blue-2, #002139);
  overflow: hidden;
  max-width: 100%;
  position: relative;
}
.annotation {
  height: 8px;
  position: absolute;
  border-radius: 4px;
  border: none;
  transition: all 0.3s;
}

.annotation:hover {
  cursor: pointer;
  filter: brightness(0.85);
}

.warning {
  background-color: var(--Yellow); /* Warning colour */
}

.error {
  background-color: var(--Red); /* Error colour */
}
